<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>modifier-password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>

  <p *ngIf="success" style="color: #20a011;font-weight: 500;">
    {{ 'update_password_success' | translate }}
  </p>
  <p *ngIf="errorMessage" class="error-msg-validation">
    {{ errorMessage | translate }}
  </p>
  <div class="content">
    <form class="col-xs-12" [formGroup]="form" #f="ngForm" (ngSubmit)="saveData()">
      <ion-list>
        <ion-item>
          <ion-label stacked>{{ 'update_password_old_password' | translate }}</ion-label>
          <ion-input  type="password" formControlName="oldPass" (click)="reset()"
             [ngClass]="{'invalidInput': (errOldPass && errOldPass.length>0)}" id="oldPass" >

          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>    {{ 'update_password_new_password' | translate }}</ion-label>
          <ion-input  type="password" formControlName="newPass1"
             [ngClass]="{'invalidInput': (errNewPass1 && errNewPass1.length>0)}" id="newPass1"
             (click)="reset()">
            
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>
            {{ 'update_password_confirm_password' | translate }}
          </ion-label>
          <ion-input  type="password" formControlName="newPass2"
             (click)="reset()"
             [ngClass]="{'invalidInput': (errNewPass2 && errNewPass2.length>0)}"
             id="newPass2">

          </ion-input>
        </ion-item>
        <button ion-button outline>{{ 'update_password_button' | translate }}</button>
      </ion-list>
      </form>
  </div>
</ion-content>
