page-inscription {
  .list-ios > .item-block:first-child,
  .list-ios > .item-block:last-child
  {
    border-top: 0;
  }
  .signup{
    margin-top: 15px;
    margin-bottom: 10px;
    form{
      div{
        margin-bottom: 15px;
      }
    }
    .sign-up-terms{
      display: block;
      color: #3897f0;
    }
    .sign-up-cgu{
      font-size: 14px;
      color: #000;
      font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
      margin-top: 10px;
      padding: 0 15px;
      margin-bottom: 0;
      line-height: 1.6em;
    }
  }
}





